# Arrays
    Store apple's price for 5 days and answer,
        1. what was the price on day 1?
        2. what was the price on day 3?
        
        [298 -> 0x00500
        , 305, ->0x00504
        320,-> 0x00508
        301, -> 0x0050A
        292 -> 0x0050F
        ]

In [7]:
stock_price = [298, 305, 320, 301, 292]

print(stock_price[0], stock_price[2])

298 320

for stock_price[0] -> 0x00500 for example

for stock_price[2] -> 0x00500 +2*sizeof(integer)

stock_price[2]  -> 0x00500 +2*4

stock_price[2]  -> 0x005008 

So compexity O(1)

In [3]:
for  i in stock_price:
    print(i) # O(2)

298
305
320
301
292

In [4]:
 for i in range(len(stock_price)): # O(n)
        if stock_price[i] == 301:
            print(i)

3

In [8]:
stock_price.insert(1,284) # O(n)
stock_price

[298, 284, 305, 320, 301, 292]

In [12]:
 # delete
stock_price.remove(284) # O(n)

In [13]:
stock_price

[298, 305, 320, 301, 292]

In [33]:
store_month

[2200, 2350, 2600, 2130, 2190]

150

In [44]:
print("In feb this much extra was spent compared to jan:",store_month[1]-store_month[0])

In feb this much extra was spent compared to jan: 150

In [35]:
#2. Find out your total expense in first quarter (first three months) of the year.
three_sum = 0
for i in range(3):
    three_sum = three_sum + store_month[i]
three_sum

7150

In [42]:
# or 
print("Expense for first quarter:",store_month[0]+store_month[1]+store_month[2])

Expense for first quarter: 7150

In [36]:
# 3. Find out if you spent exactly 2000 dollars in any month
for i in range( len(store_month)):
    if store_month[i] == 2000:
        print(i)

In [41]:
# Or 
print("Did I spent 2000$ in any month? ", 2000 in store_month)

Did I spent 2000$ in any month?  False

In [37]:
# 4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
store_month.insert(len(store_month)+1,1980)
# Or 

store_month.append(1980)
print("Expenses at the end of June:",exp)

In [38]:
store_month

[2200, 2350, 2600, 2130, 2190, 1980]

In [40]:
# 5. You returned an item that you bought in a month of April and got a refund of 200$. Make a correction to your monthly expense listbased on this
store_month[3] = store_month[3]-200
store_month

[2200, 2350, 2600, 1930, 2190, 1980]

# You have a list of your favourite marvel super heros.

    heros=['spider man','thor','hulk','iron man','captain america']
    
    Using this find out,

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [45]:
heros=['spider man','thor','hulk','iron man','captain america']

In [46]:
# Length of the list
len(heros)

5